.fonctionnement {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;

  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .fonctionnement__card {
      display: flex;
      justify-content: space-evenly;
      background-color: #f6f6f6;
      margin: 10px;
      padding: 10px;
      border-radius: 20px;
      align-items: center;
      position: relative;
      width: 80%;

      &-number {
        position: absolute;
        left: -10px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background-color: #9356DC;
        color: #fff;
        overflow: hidden;
        text-indent: 6px;
      }


      &-text {
        font-family: $font-primary;
        
      }
    }
  }
}

@media screen and (min-width: 1300px) {
  .fonctionnement {
    padding-left: 75px;
    padding-right: 75px;
  }
  
  .fonctionnement__cards {
    flex-direction: row;
  }

}