.card-group {
  display: flex;
  flex-direction: column;
  gap: 20px;


  .card {
    display: flex;
    border-radius: 20px;
    background-color: #fff;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

    &__content {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      flex-direction: column;
      padding: 10px;
      transition: all 6000ms;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__title {
      font-family: $font-primary;
      margin-top: 0;
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__description {
      font-family: $font-primary;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__price {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      position: relative;
      font-family: $font-primary;
      padding: 10px;
      transition: transform 0.4s ease-in-out;
    }

    &__check {
      width: 0%;
      transition: all 400ms ease-in-out;
      background-color: #99e2d0;
      margin: 0;
      padding: 0;
      box-sizing: border-box;

      .fa-check-circle {
        position: relative;
        opacity: 0;
        font-size: 1.25rem;
        transition: opacity 500ms ease-in-out;
        color: transparent;
      }
    }       

    &:hover {
      .card__check {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
        background-color: #99e2d0;
        position: relative;
        border-radius: 0 15px 15px 0;

        .fa-check-circle {
          opacity: 1;
          background-color: #99e2d0;
          color: white;
        }
      }
    }
  }
}
