.btn {
    background-image: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
    height: 50px;
    border-radius: 25px;
    border: none;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &__wide {
        width: 35%;
        font-size: 22px;
        
        @media screen and (min-width: 1300px) {
            width: 25%;
          }
    }

    &__small {
        width: 20%;
        font-size: 20px;
    }

    &:hover {
        background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0.8) 0%, rgba(147, 86, 220, 0.8) 100%);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      }
}