header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-secondary;
    position: relative;
        
        a {
            position: absolute;
            left: 20px;
        }

}